/*구글 웹 폰트 적용*/
 @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

  *{
   font-family: 'Jeju Myeongjo', serif;/*웹 폰트 지정*/
 }

/* image CSS */
.scroll-image {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    margin:30px 0;
}
.scroll-image img {
    width:calc(33.333% - 10px);
    margin:0 15px 15px 0;
}
.scroll-image img:nth-of-type(3n),
.scroll-image img:last-child {
    margin-right:0;
}

@media screen and (max-width:480px){
  .Blog .scroll-image {
    flex-wrap:nowrap;
    justify-content:flex-start;
    position:relative;
    width:114%;
    left:-7%;
    padding:0 7%;
    overflow-y:hidden;
    overflow-x:auto;
    -ms-overflow-style:none;
    -webkit-overflow-scrolling:touch;
  }
  .scroll-image img {
    display:block;
    flex:0 0 auto;
    width:80%;
    margin:0 15px 0 0;
  }
  .scroll-image img:last-of-type{
    margin-right:0;
  }
  .scroll-image:after {
    content:'';
    display:block;
    flex:0 0 auto;
    align-self:stretch;
    width:7%;
  }
}
